.category {
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: fluid-to-laptop(16,8);
  padding-bottom: var(--container-padding-x);

  &__item{
    width: 600px;
    &-info{
      display: flex;
      flex-direction: row;
      gap: fluid-to-laptop(16,8);
      align-items: center;
      justify-content: space-between;

      img {
        width: 110px;
        height: 110px;
      }

      &__description{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-price{
          background-color: var(--color-purple-500);
          padding: fluid-to-laptop(4,2) fluid-to-laptop(8,4);
          border-radius: fluid-to-laptop(12,8);
          color: var(--color-white);
        }
      }
    }
  }
}

.loading {
  padding-left: 800px;
  font-size: fluid-to-laptop(32,24);
}

.filter__max-pice {
  display: flex;
  flex-direction: column;
}