html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18,14);

  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family-base);
  color: var(--color-gray-900);
  background-color: var(--color-gray-200);

  .page-layouts {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .content {
      flex: 1;
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-gray-900);
}

h1, .h1 {
  @include fluid-text(36,24);

  font-weight: 700;
}

h2, .h2 {
  @include fluid-text(30,20);

  font-weight: 700;
}

h3, .h3 {
  @include fluid-text(28,18);

  font-weight: 700;
}

h4, .h4 {
  @include fluid-text(24,16);

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(20,16);

  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(18,16);

  font-weight: 600;
}

a,
button,
input,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-purple-500);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}