:root {
  --color-white: #FFFFFF;

  --color-gray-50: #F9FAFB;
  --color-gray-200: #E5E7EB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-900: #111827;

  --color-purple-100: #EDE9FE;
  --color-purple-400: #A78BFA;
  --color-purple-500: #8B5CF6;

  --border: 2px solid var(--color-gray-900);

  --border-radius-l: 16px;
  --border-radius-m: 12px;
  --border-radius-s: 8px;

  --font-family-base: "Manrope", sans-serif;

  --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};

  --container-padding-x: 16px;

  --section-padding-y: #{fluid(36, 20)};

  --transition-duration: 0.2s;
}