.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: fluid-to-laptop(24,18);
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  &__image {
    border-radius: var(--border-radius-l);
  }
}