.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: fluid-to-laptop(24,18);
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: fluid-to-laptop(24,18);
  }

  &__image {
    border-radius: var(--border-radius-l);
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: fluid-to-laptop(16,12);
  }
}