.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: fluid-to-laptop(24,18);

  &__image {
    border-radius: var(--border-radius-l);
  }
}