.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: fluid-to-laptop(8,4);

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: fluid-to-laptop(8,4);

    &-title {
      margin: 0;
    }
  }
}