nav {
  display: flex;
  flex-direction: row;
  column-gap: fluid-to-laptop(28, 24);
  white-space: nowrap;
}

.navigation-dark {
  color: var(--color-gray-900);

  .active {
    color: var(--color-purple-500);
    border-bottom: 2px dashed var(--color-purple-500);
  }
}

.navigation-light {
  color: var(--color-gray-50);

  .active {
    color: var(--color-gray-50);
    border: none;
  }
}

