.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: fluid-to-laptop(24,18);

    @include tablet-above {
      grid-template-columns: 1fr;
    }

    :first-child {
      grid-column: span 2;
    }

    :last-child {
      grid-column: span 2;
    }
  }
}

