.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: fluid-to-laptop(25, 16) fluid-to-laptop(192, 120);
  background-color: var(--color-gray-50);

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: fluid(24, 16);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: fluid(24, 16);
  }
}